@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* Robin - HEADER */

.header {
    height: 115px;
    background-color: rgba(229, 227, 218, 0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(248, 245, 242);
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.header-img img {
    width: 260px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-ul {
    display: none;
}

#hamburger {
    font-size: 2em;
    background-color: transparent;
    border: 0;
    padding-right: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.mobile-menu {
    z-index: 1001;
    height: calc(100vh - 115px);
    width: 100%;
    background-color: rgba(183, 171, 164, 0.97);
    position: fixed;
    bottom: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.6s;
}

.mobile-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-link-container a {
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: 0.3s;
}

.mobile-link-container a:hover {
    color: rgb(107, 95, 80);
}


/* Matilda - HOME */

#home {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 115px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#home img {
    width: 100%;
    height: calc(100vh - 115px);
    object-fit: cover;
    position: absolute;
}

.home-img-overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100vh - 115px);
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: rgb(235, 245, 238, 0.6);
}

.home-title {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 25px;
    font-size: 20px;
    max-height: 500px;
    width: auto;
}

.overlay-circle {
    height: 200px;
    width: 200px;
    margin-right: 100px;
    border-radius: 50%;
    background: rgb(222, 211, 206, 0.7);
    z-index: 1;
}

.searchform {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50vh;
    font-size: 15px;
}

.searchbar {
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    background-color: transparent;
    margin-left: 10px;
    letter-spacing: 1px;
}

::-webkit-input-placeholder {
    color: black;
    opacity: 0.9;
}

#home button {
    font-size: 20px;
    border-radius: 20px;
    width: 10vh;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 15px;
    opacity: 0.8;
    background-image: linear-gradient(to bottom right, rgb(183, 171, 164), white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

#home button:hover {
    color: white;
    opacity: 0.9;
    transform: translateY(4px);
    transition: 0.5s;
    background-image: linear-gradient(to bottom right, black, rgb(183, 171, 164));
}

.overlay-list {
    position: absolute;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2.5vh;
    align-self: flex-end;
}

.overlay-list ul {
    display: flex;
    justify-content: center;
}

.overlay-list li {
    padding: 10px;
    border-right: 1px solid black;
    list-style-type: none;
}

.overlay-list li:last-child {
    border: none;
}

.overlay-list a {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    font-size: 15px;
    transition: 0.8s;
}

.overlay-list li a:hover {
    font-size: 16px;
    color: black;
    text-shadow: transparent;
}


/* MARCUS - SERVICES */

#services {
    padding-top: 115px;
}

.services-header {
    display: flex;
    justify-content: center;
}

.services-header h3 {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: 10px;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

.service-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 340px;
    height: 390px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 50px;
}

.service-card:hover {
    transform: scale(1.01);
}

.service-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 340px;
    height: 240px;
}

.service-card-image-overlay {
    position: absolute;
    top: 0;
    background-color: rgba(235, 245, 238, 0.4);
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.service-card-image-overlay h2 {
    font-weight: bolder;
    font-size: 33px;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.service-card-content {
    padding: 10px;
    width: 340px;
    height: 150px;
    background-color: #EBF5EE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Fatima - ABOUT-US */

.about-header h3 {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#about-section {
    padding-top: 115px;
    display: grid;
    grid-template-columns: 100%;
    min-height: 50vh;
    background-color: #E5E3DA;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: auto;
}

.about-video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-video-wrapper {
    padding: 20px;
    opacity: 0.9;
    position: relative;
}

.about-video-wrapper video {
    width: 95%;
    border: 10px solid #B7ABA4;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* Konstantin - FOOTER */

.footer {
    display: flex;
    height: minmax(auto, 15vh);
    background-color: #b7aba4;
    width: 100%;
    flex-direction: column;
    margin-top: 15vh;
    text-align: center;
    color: #fff;
}

.company,
.tele,
.email,
.social-links {
    margin-bottom: 30px;
}

.tele i {
    font-size: 60px;
    color: #fff;
}

.tele i:hover {
    color: rgb(107, 95, 80);
    transition: 0.5s;
    animation-name: phone-ringing;
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
}

@keyframes phone-ringing {
    0% {
        transform: rotate(-5deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.email i {
    font-size: 60px;
    color: #fff;
}

.email i:hover {
    color: rgb(107, 95, 80);
    transition: 0.5s;
    transform: translateY(-20px);
}

.tele p {
    font-size: small;
}

.social-links a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.social-links a:hover {
    color: rgb(107, 95, 80);
    transition: 0.5s;
}


/* NEW STYLING */

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(183, 171, 164, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1002;
    top: 0;
    user-select: none;
}

#close-modal {
    font-size: 4em;
    position: absolute;
    right: 15px;
    top: 0;
    cursor: pointer;
}

#gallery-section {
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.gallery-header {
    display: flex;
    justify-content: center;
}

.gallery-header h3 {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-thumbnail {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    transition: 0.5s;
}

.gallery-thumbnail:hover {
    transition: 0.5s;
    opacity: 50%;

}

#previous-button,
#next-button {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 10px;
    background-color: rgba(235, 245, 238, 0.4);
    width: 50px;
    border-radius: 10px;
    user-select: none;
}

#previous-button:hover,
#next-button:hover {
    background-color: rgb(235, 245, 238);
    cursor: pointer;
    /* transition: 0.5s;  */
}

.lightbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox-image {
    max-width: 250px;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.lightbox-thumbnail {
    display: none;
}


/* Robin */

#form-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin: 0px;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1001;
    animation-duration: 0.5s;
}

@keyframes moveOut {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes moveIn {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(110%);
    }
}

#form-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    background-color: rgb(183, 171, 164);
}

#form-header p {
    font-weight: bold;
}

#close-form {
    font-size: 2em;
    position: absolute;
    align-self: flex-end;
    margin-right: 20px;
    cursor: pointer;
}

#form-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 227, 218);
    height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

#mail-label,
#subject-label,
#message-label {
    font-weight: bold;
    margin: 10px 0px;
}

#email-input,
#subject-input {
    width: 330px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 5px;
}

#textarea-input {
    width: 330px;
    height: 150px;
    border-radius: 3px;
    padding: 5px;
    resize: none;
}

#submit-button {
    margin: 10px 0px;
    width: 120px;
    height: 40px;
    align-self: flex-end;
    background-color: rgb(183, 171, 164);
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    cursor: pointer;
}

#submit-button:hover {
    background-color: rgb(235, 245, 238);
}

#open-form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 250px;
    right: 0px;
    padding: 5px;
    width: 35px;
    height: 40px;
    background-color: rgb(183, 171, 164);
    border: none;
    font-size: 1.25em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#on-submit-container {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 50px;
    border: 1px solid #888;
    width: 350px;
    height: 400px;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    position: relative;

}

#on-submit-text {
    align-self: center;
    font-size: 20px;
    color: rgb(71, 71, 52);
    font-weight: bold;
}

.close {
    display: block;
    position: absolute;
    color: #aaaaaa;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
    top: 0;
    right: 10px;
}

.close:hover,
.close:active {
    color: #000;
    text-decoration: none;
}

.loader {
    /* display: none; */
    border: 16px solid #f3f3f3;
    border-top: 16px solid #a19372;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    align-self: center;
    margin: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Javascript modal*/

.show-employees {
    border: 1px solid black;
    border-color: rgb(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.show-employees p {
    padding: 10px;
}

.show-employees span {
    font-style: italic;
    font-weight: normal;
}

.about-text-wrapper img {
    display: flex;
    border-radius: 50%;
    border: none;
    justify-content: center;
    object-fit: cover;
    width: 150px;
    align-items: center;
    height: 150px;
    margin: 10px;
}

.show-employees:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

.modal-image {
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-top: 40px;
    padding: 1px;
    border: 3px solid black;
    width: 25vh;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 16px 30px 0 rgb(0 0 0 / 19%);
}

.open-modal {
    flex-wrap: wrap;
    width: 55vh;
    height: 80%;
    background-color: rgba(229, 227, 218, 0.9);
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 16px 30px 0 rgb(0 0 0 / 19%);
}

.modal-para {
    border-radius: 20px;
    width: 80%;
    background-color: white;
    overflow: auto;
    position: absolute;
    height: 45%;
    text-align: center;
    padding: 10px;
    margin-top: 34vh;
}

.head {
    font-weight: bold;
    height: 30px;
    width: 80%;
    margin-bottom: 130px;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.aboutText {
    border: 1px solid black;
    overflow: auto;
    width: 70%;
    height: 40vh;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
}

#about-h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.about-text-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-start;
}

@media (min-width: 890px) {

    /* STYLE FOR DESKTOP GOES HERE */
    /* NEW!! */
    .lightbox-image {
        min-width: 600px;
        animation-name: lightbox-image-open;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @keyframes lightbox-image-open {
        from {
            min-width: 0px;
        }

        to {
            min-width: 600px;
        }
    }

    .lightbox-thumbnail-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 850px;
        height: 100px;
        background-color: rgb(107, 95, 80);
        border-radius: 10px;
        position: absolute;
        top: 80%;
        animation-name: thumbnail-pic-open;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    @keyframes thumbnail-pic-open {
        from {
            width: 0px;
        }

        to {
            width: 850px;
        }
    }

    .lightbox-thumbnail {
        display: inline-block;
        margin: 10px;
        width: 60px;
        object-fit: cover;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .active-thumbnail {
        border: 4px solid rgb(184, 157, 140);
    }

    /* Robin - HEADER */

    .mobile-menu {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .navbar {
        width: 100%;
    }

    .nav-ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .nav-ul .nav-link {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        letter-spacing: 5px;
        font-weight: 900;
        transition: 0.5s;
        text-transform: uppercase;
        position: relative;
        text-shadow: 3px 3px 10px black;
    }

    /* Code for borders */
    .nav-ul .nav-link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        border-top: 1px solid rgb(68, 58, 46);
        border-bottom: 1px solid rgb(68, 58, 46);
        transform: scaleY(2);
        opacity: 0;
        transition: 0.5s;
    }

    /* Hover-effect borders */
    .nav-ul .nav-link:hover::before {
        transform: scaleY(1);
        opacity: 1;
    }

    /* Code for background-fill */
    .nav-ul .nav-link::after {
        background: rgba(0, 0, 0, 0.8);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 1px;
        left: 0;
        transform: scale(0);
        transition: 0.5s;
        z-index: -1;
    }

    /* Hover-effect text-fill */
    .nav-ul .nav-link:hover::after {
        transform: scale(1);
    }

    /* Hover-effect text-color */
    .nav-ul .nav-link:hover {
        color: rgb(233, 233, 208);
    }

    /* Matilda - HOME */
    .home-title {
        font-size: 50px;
        margin-top: -20vh;
    }

    .overlay-circle {
        height: 400px;
        width: 400px;
        min-width: 300px;
        margin-right: 800px;
        margin-top: -20vh;
    }

    .searchform {
        width: 90vh;
        margin-top: 40vh;
        justify-content: center;
        font-size: 20px;
    }

    .searchbar {
        width: 60vh;
        font-size: 20px;
    }

    .overlay-list a {
        font-size: 30px;
        padding: 10px;
    }

    .overlay-list li a:hover {
        font-size: 35px;
    }

    /* Fatima - ABOUT-US */
    #about-section {
        grid-template-columns: 50% 50%;
    }

    /* KONSTANTIN - FOOTER */
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .company,
    .tele,
    .email,
    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15vh;
        padding: 10px;
    }
}